{% import 'includes/svg/_svg.html.twig' as svg %}
{% macro getCardTitle(title, subtitle) %}
    <div class="title__title">{{ title | trans }}</div><div class="title__subtitle">{{ subtitle  | trans}}</div>
{% endmacro %}

{% macro getCardIconContent(iconName, iconText, iconTarget, iconClassName = "") %}
    <div class="dashboard__card__action add" href="{{ iconTarget }}">
        {{ svg.getSvg(iconName, iconClassName) }}
        <span>{{ iconText | trans }}</span>
    </div>
    
{% endmacro %}

<div class="main__cards w-full grid grid-cols-2 gap-4 md:gap-6 md:grid-cols-2 lg:grid-cols-3 2xl:gap-7.5">
    {{ include('includes/_card.html.twig', {'card_title': _self.getCardTitle('index.cards.newscores.title', '10') }) }}
    {{ include('includes/_card.html.twig', {'card_title': _self.getCardTitle('index.cards.libraryscores.title', '275'), 'card_content': _self.getCardIconContent('plus-file', 'index.cards.libraryscores.icon.action.label', path('app_index'), "h-10 w-10") }) }}
    {{ include('includes/_card.html.twig', {'card_title': _self.getCardTitle('index.cards.setlists.title', '25'), 'card_content': _self.getCardIconContent('plus-folder', 'index.cards.setlists.icon.action.label', path('app_index'), "h-10 w-10") }) }}
</div>
