<div class="data__table">
    <div class="data__table__header flex items-center">
        <div class="data__table__header_cell w-3/12 lg:w-2/12">{{ 'index.scores.table.header.name.label' | trans }}</div>
        <div class="data__table__header_cell w-2/12">{{ 'index.scores.table.header.references.label' | trans }}</div>
        <div class="data__table__header_cell w-3/12">{{ 'index.scores.table.header.categories.label' | trans }}</div>
        <div class="data__table__header_cell w-3/12">{{ 'index.scores.table.header.artists.label' | trans }}</div>
        <div class="data__table__header_cell flex-1"></div>
    </div>

    {% for score in scores %}
        {% set c = 'even' %}
        {% if loop.index0 % 2 == 1 %}
            {% set c = 'odd' %}
        {% endif %}
        <div class={{ "data__table__line #{c}" }}>
            <div class="data__table__cell w-3/12 lg:w-2/12">{{ score.title }}</div>
            <div class="data__table__cell w-2/12">
                {% for ref in score.refs %}
                    <span class="bubble">{{ref.value}}</span>
                {% endfor %}
            </div>
            <div class="data__table__cell w-3/12 ">
                {% for category in score.categories %}
                    <span class="bubble">{{category.value}}</span>
                {% endfor %}
            </div>
            <div class="data__table__cell w-3/12">
                {% for artist in score.artists %}
                    <span class="bubble">{{artist.artist.name}}</span>
                {% endfor %}
            </div>
            <div class="data__table__cell action__cell flex-col flex-1 justify-end">
                <span class="action">{{ 'main.action.view.label' | trans }}</span>
                <span class="action">{{ 'main.action.edit.label' | trans }}</span>
                <span class="action">{{ 'main.action.delete.label' | trans }}</span>
            </div>
        </div>
    {% endfor %}
</div>
