{% macro getTitle(title) %}
    <div class="title__title">{{ title | trans }}</div>
{% endmacro %}


{% set class = "card" %}
{% if card_class is defined %}
    {% set class = "#{class} #{card_class}" %}
{% endif %}
<div class="{{ class }}">
    {% if card_title is defined %}
        <div class="card__title">
            {{ card_title }}
        </div>
    {% endif %}
    {% if card_content is defined %}
        <div class="card__content">
            {{ card_content }}
        </div>
    {% endif %}
    {% if card_footer is defined %}
        <div class="card_footer">
            {{ card_footer }}
        </div>
    {% endif %}
</div>
